
<%= render 'shared/nav' %>
<h1><%= @user.name %></h1>

<p>
<%= @record.each do |user_record| %>
    Category: <%= user_record.category.category %>
    <br>
    Wins: <%= user_record.wins %> <%= button_to "Add Victory", :action => "add_victory", :id => user_record.id %>
    Losses: <%= user_record.losses %> <%= button_to "Add Loss", :action => "add_loss", :id => user_record.id %>
    <br>
<% end %>


