<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :wins %>
    <%= form.number_field :wins, id: :record_wins %>
  </div>

  <div class="field">
    <%= form.label :losses %>
    <%= form.number_field :losses, id: :record_losses %>
  </div>

   <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, @categories, :id, :category %>
  </div>

  <div class="field">
    <%= form.label :competitor_user_id %>
    <%= form.collection_select :competitor_user_id, @users, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
