<%= render 'shared/nav' %>

<table class=" table table-striped sortable" border="1px solid black">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Percentage</th>

    </tr>
  </thead>

 <tbody>
  <% sport_records = Record.group(:user_id, :category_id).select(:user_id, :category_id, "sum(wins) as total_wins", "sum(losses) as total_losses") %>
   <% sport_records.each do |record| %>
     <tr>
      <td><%= record.user.name %></td>
      <td><%= record.category.category %></td>
      <td><%= record.total_wins %> </td>
      <td><%= record.total_losses %> </td>
      <td><%= number_with_precision(100 * record.total_wins / ((record.total_losses + record.total_wins).nonzero? || 1 ), precision: 0) %> %</td>
    </tr>
   <% end %>
 </tbody>