<p id="notice"><%= notice %></p>

<p>
  <strong>Wins:</strong>
  <%= @record.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @record.losses %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @record.category %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
